/*Paleta de colores
 * principal #FFF1CB
 * SECU #FF8F8F
 * CELESTE #C2E2FA
 * LILA #B7A3E3
 * */

body{
background-color: #FFF1CB;
}

body header nav {
background-color: #FF8F8F;
}

#h1AddProd{
text-align: center;
}

h2{
text-align: center;
}

.container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 7px;
grid-row-gap: 7px;
place-items: center;
margin-top: 30px;
}

.gridIzq { 
grid-area: 1 / 1 / 3 / 2; 
background-color:#C2E2FA;
}
.gridDer { 
grid-area: 1 / 2 / 3 / 3; 
background-color: #B7A3E3;
}
.buttonEnviar { grid-area: 3 / 1 / 4 / 3; }


#gridIzq{
background-color: #91C4C3;
}
.agregarPedido{
background-color: #91C4C3;
display: block;
}
header nav .active{
color: B4DEBD;
}

#addForm{
display: flex;
flex-direction: column;
align-items: center;
background-color: #C2E2FA;
width: 70%;
margin: 0 auto;
border: 1px solid black;
border-radius: 10px;
margin-top: 30px;
padding: 25px;
}

#formStock{
display: flex;
flex-direction: column;
align-items: center;
background-color: #C2E2FA;
width: 70%;
margin: 0 auto;
border: 1px solid black;
border-radius: 10px;
margin-top: 30px;
}
