body{
background-color: #FFF7DD;
}

.bgReparto{
background-color: #FCF9EA;
}

.container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 7px;
grid-row-gap: 7px;
place-items: center;
}

.gridIzq { 
grid-area: 1 / 1 / 3 / 2; 
background-color:red;
}
.gridDer { grid-area: 1 / 2 / 3 / 3; }
.buttonEnviar { grid-area: 3 / 1 / 4 / 3; }


#gridIzq{
background-color: 91C4C3;
}
.agregarPedido{
background-color: 91C4C3;
display: block;
}
header nav .active{
color: B4DEBD;
}
